@import '../base/variables';
nav{
    unicode-bidi: isolate;
}
.navegacion{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: auto;
    &__link{
        font-size: 2rem;
        font-weight: 700;
        color: $negro;
        &--registrar{
             
                background-color: $primario;
                color: $blanco;
                font-size: 2rem;
                padding: 1.2rem 3rem;
                border-radius: 1rem;
                font-weight: 700;
                text-align: center;
                text-decoration: none;
                border: none;
            }
        
        & a{
            text-decoration: none;
        }
        
    }
}


   